body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
}

header {
    padding: 1.25em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 11em;
    width: 11em;
}

nav {
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.25em;
}

nav ul li {
    display: inline;
    margin-right: 0.625em;
}

nav ul li a {
    color: #7CB06D;
    text-decoration: none;
    padding: 0.875em 1em;
    font-size: 1.45em;
    font-weight: bold;
    transition: color 0.15s ease; /* Glidende overgang for farveskift ved hover */
}

nav ul li a:hover {
    color: #FEC47F;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6em;
    margin-bottom: 3em;
}

/* Hero stilarter */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('images/hero1rigtig.png');
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 98vw;
    position: relative;
}

.hero h1 {
    font-family: 'Montserrat', sans-serif;
    color: #FEC47F;
    font-size: 8em;
    font-style: italic;
    margin: 0.5em;
}

.hero h3 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: lighter;
    font-size: 1.5em;
    transition: transform 0.3s ease; /* Jeg vil gerne have lidt visuelle effekter, så har tilføjet en glidende overgang til højre side når man hover teksten */
    line-height: 1.6;
    float: right; /* kan også ændres til text-align: center ??? */
}

.hero h3:hover {
    transform: translateX(6.5em); /* Flytter teksten til højre ved hover */
    color: #ADD8E6;
    font-weight: bold;
}

.hero .btn {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    padding: 0.625em 1.25em;
    background-color: #7CB06D;
    color: #000000;
    text-decoration: none;
    border: none;
    border-radius: 0.3125em;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: auto;
    position: absolute;
    bottom: 3em;
}

.hero .btn:hover {
    background-color: #FEC47F;
    color: #fff;
}

h2 {
    margin-top: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    text-align: center;
}

.image-section {
    display: flex;
    justify-content: space-around;
    margin: 2em;
    background-color: #89A67E;
    width: 95%;
    padding: 3em;
    box-sizing: border-box;
}

.image-box {
    text-align: justify;
    width: 25vw;
}

.image-box img {
    max-width: 100%;
    height: auto;
}

.image-box p {
    margin-top: 0.5em;
    font-size: 1.4em;
    color: #000000;
}

/* Footer-stilarter */
footer {
    background-color: #000000;
    color: white; 
    text-align: center; 
    padding: 1em 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 1.5em 0; /* Margin for paragrafen */
    margin-bottom: 3em;
}

footer nav {
    margin-top: 60em; /* Lidt afstand til toppen af navigationen */
    margin: 1.5em;
}

footer nav ul {
    list-style-type: none; /* Fjern standard liste-stil */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centrér listen */
    gap: 1.25em; /* Afstand mellem listeelementerne */
    margin-bottom: 1em;
}

footer nav ul li {
    display: inline;
}

footer nav ul li a {
    color: #7CB06D; /* Farve på linkteksten */
    text-decoration: none; /* Fjern underlinje fra links */
    padding: 0.5em 1em; /* Polstring omkring linkteksten */
    font-size: 1.1em; /* Skriftstørrelse */
    transition: color 0.2s ease; /* Glidende overgang for farveskift ved hover */
}

footer nav ul li a:hover {
    color: #FEC47F; /* Farve på linkteksten ved hover */
}